@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';
@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  @font-face {
    font-family: "ChristmasFont";
    src: url("/fonts/christmasFont.otf") format("opentype");
    font-weight: normal; /* Adjust if needed: normal, bold, etc. */
    font-style: normal; /* Adjust if needed: normal, italic, etc. */
  }
  @font-face {
    font-family: "PlayFul";
    src: url("/fonts/playful.otf") format("opentype");
    font-weight: normal; /* Adjust if needed: normal, bold, etc. */
    font-style: normal; /* Adjust if needed: normal, italic, etc. */
  }
}
.lexend-text {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.christmas-font {
  font-family: "ChristmasFont", sans-serif;
}
.play {
  font-family: "PlayFul", sans-serif;
}

body {
  color: var(--foreground);
  font-family: "Lexend", sans-serif;
}

input {
  border-radius: 0.5rem;
  color: #2f6e6c;
  width: 100%;
  margin: 0.5rem 0;
  height: 2rem;
  padding: 0.5rem;
}
button[type="submit"] {
  background-color: #b22734;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  color: white;
  font-weight: bold;
}

.a-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}

button[disabled] {
  opacity: 0.5;
}
